<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .Container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
    }
  </style>
</head>
<body>
  <div class="Container" >
    <h4>Olá {{name}}, Parece que uma troca de senha foi solicitada.</h4>

    <strong>Se foi você quem solicitou:</strong>
    <p>clique no link abaixo:</p>
    <a href={{link}}>{{link}}</a>
    <strong>Caso não tenha sido você:</strong>
    <p>Ignore esse email e entre em contato conosco.</p>

    <strong>Atenciosamente, Equipe MemoRise.</strong>
  </div>
</body>
</html>